/* Tailwind */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Skeleton UI */
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/crimson";

/* Fonts */
@import "@fontsource-variable/alegreya";
@import "@fontsource-variable/overpass-mono";
@import "@fontsource-variable/hanken-grotesk";
@import "@fontsource/monaspace-xenon";

/* Syntax highlighting for code blocks */
@import "./syntax.css";

[data-theme="crimson"] {
    --heading-font-family: "Alegreya Variable", serif;
    --base-font-family: "Hanken Grotesk Variable", monospace;
    --monospace-font-family: "Monaspace Xenon", monospace;

    /* Page background in a way that iOS won't ruin */
    #container {
        position: relative;
    }

    #container::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background-image:
            radial-gradient(
                at 14% 25%,
                color-mix(
                        in oklab,
                        light-dark(
                                var(--color-tertiary-500),
                                var(--color-primary-800)
                            )
                            30%,
                        transparent
                    )
                    0px,
                transparent 30%
            ),
            radial-gradient(
                at 84% 85%,
                color-mix(
                        in oklab,
                        light-dark(
                                var(--color-fuchsia-700),
                                var(--color-teal-700)
                            )
                            20%,
                        transparent
                    )
                    0px,
                transparent 30%
            );
        pointer-events: none;
    }

    /* prevent layout shift from scrollbar gutter */
    scrollbar-gutter: stable;

    /* Glass blur background */
    .preset-glass-neutral {
        background: color-mix(
            in oklab,
            var(--color-surface-50-950) 30%,
            transparent
        );

        box-shadow: light-dark(
            0 0px 12px
                color-mix(in oklab, var(--color-surface-50) 10%, transparent),
            0 0px 30px
                color-mix(
                    in oklab,
                    var(--color-surface-950) 30%,
                    transparent,
                    inset
                )
        );
        backdrop-filter: blur(16px);
    }
}

@utility prose-blog {
    @apply prose dark:prose-invert max-w-[90ch] prose-lg prose-li:my-1 prose-p:my-4 mx-auto pb-12 prose-hr:my-8 prose-headings:mt-8 prose-code:before:content-[""] prose-code:after:content-[""];
}

body {
    h1,
    h2,
    h3,
    h4 {
        font-family: var(--heading-font-family);
        @apply font-semibold tracking-tight;
    }

    li > ul {
        margin-block: 0;
    }
}
